<div class="container text-center">
  <div class="row">
    <div class="col-6">
        <h1>Tasks#Create</h1>
        <p><%= @task.title %></p>
        <p><%= @task.details %></p>
        <%= link_to 'Back home', tasks_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>



